<%- include('./partials/nav.ejs') %>
<main class="container mx-auto my-[20px] px-[8%]">
  <div class="w-full flex flex-col items-center justify-center mt-6">
    <img
      class="rounded-[25%]"
      src="/images/game_logo_02_512.png"
      width="120px"
      alt=""
    />
    <p class="text-yellow-500 text-[20px] font-light my-1">
      &#10026; 像素猴子AI - 博客與畫廊 &#10026;
    </p>
    <p class="text-[15px] text-gray-400">
      本博客致力於關注AI繪畫技術,分享原創AI繪畫作品,如果您轉載本博客内容請注明出處,尊重他人勞動,謝謝!
    </p>
    <p class="text-[12px] text-gray-400">Email : molimonkeyxyz@gmail.com</p>
  </div>
  <!-- 畫廊置頂 -->
  <div class="w-full mt-[30px] flex flex-col justify-center">
    <h1 class="text-white bg-purple-500 font-bold py-2 px-3 mt-2">
      &#10148;&nbsp;最新畫廊套圖
    </h1>
    <a class="mb-5" href="#"><img src="/images/art_banner.png" alt="" /></a>
    <a class="mb-5" href="#"><img src="/images/art_banner.png" alt="" /></a>
    <a class="mb-5" href="#"><img src="/images/art_banner.png" alt="" /></a>
  </div>
  <div class="w-full my-8 flex items-center justify-center">
    <p
      class="text-orange-400 text-center bg-slate-700 py-2 px-2 w-1/2 rounded-md"
    >
      加入會員,聯盟網站資源/素材統統享有!
    </p>
  </div>
  <!-- 博客置頂 -->
  <div class="w-full mb-11 mt-11">
    <h1 class="text-white bg-slate-600 font-bold py-2 px-3 mt-2">
      &#10148;&nbsp;博客置頂文章
    </h1>
    <% if(postsData) {%> <% for(var item of postsData) { %>
    <p class="text-gray-300 my-3">
      <span class="text-orange-400 my-1">&nbsp;0<%=item.id %></span>
      <span class="text-orange-700 text-[14px]">&nbsp;置頂&nbsp;</span
      ><span class="text-green-500 text-[14px]"
        >&nbsp;&nbsp;&nbsp;<%=item.level==0?"FREE":"VIP" %></span
      >
      &nbsp;&nbsp;<%=item.title %>&nbsp;&#10148;
    </p>
    <% } %> <% } %>
  </div>
  <%- include('./partials/aiartLink.ejs') %>
</main>
<%- include('./partials/footer.ejs') %>
